:root{
  --grey: #aeaeae;
  --darkGrey: #6a6a6a;
  --containerColor: #dedede;
  --textColor: white;
  --headerColor: #472867;
  --mainColor: #7d2ae8;
  --comboColor: #19e4ff;
  --pink: #ff28f4;
  --footerColor: #3a3a3a;
  --range-width: 200px;
}
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: var(--mainColor);
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration: none;
}

.button{
  padding: 0.5rem 1.5rem;
  display: flex;
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color:var(--textColor);
  transition: 300ms all;
  width: fit-content;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.button:hover{
  transform: scale(1.04);
}

@media screen and (max-width:700px){
  body{
    overflow-x: hidden;
  }
  .button{
    padding: 0.4rem 0.7rem;
    font-size: 0.7rem;
  }
  .button:hover{
    transform: scale(1.02);
  }
}

/* Header */
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--headerColor);
}

.enquire{
  position: relative;
  display: flex;
  background-color: transparent;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.enquire img{
  width: 6rem;
}

.enquire span{
  font-weight: bold;
  font-size: 1.7rem;
  color:var(--textColor);
}

.menu{
  display: flex;
  gap: 1rem;
}
.menu span{
  width: fit-content;
  color: var(--textColor);
}

.header .button{
  border: 2px solid white;
}
.header .button:active{
  transform: scale(0.98);
}

/* Home */
.home {
  position: relative;
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
    opacity: 1;
    pointer-events: auto;
}
  /* Form */
.form_container {
    position: fixed;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}
.form_container .button{
  margin-bottom: 10px;
  box-shadow: none;
}
.form_container .in_a_row{
  gap: 5rem;
}
.home.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.signup_form {
    display: none;
}

.form_container.active .signup_form {
    display: block;
}
.form_container.active .login_form {
    display: none;
}
.form_close {
    color: black;
    width: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}
.form_container h2 {
    font-size: 1.3rem;
    color: black;
    text-align: center;
}
.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.signup_form .input_box{
  margin-top: 15px;
}
.input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid var(--darkGrey);
}
.input_box input:focus {
    border-color: var(--mainColor);
}
.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
}
.input_box i.email,
.input_box i.password {
    left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
    color: var(--mainColor);
}
.input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    cursor: pointer;
}
.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_container a {
    color: var(--mainColor);
    font-size: 12px;
}
.form_container a:hover:not(.no-line) {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}
.checkbox input {
    accent-color: var(--mainColor);
}
.checkbox label {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: black;
}
.form_container .button {
    background: var(--mainColor);
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0.7rem;
}
.form_container .button:hover{
  transform: scale(1.02);
}
.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.form .login_form a{
  display: flex;
  justify-content: center;
  align-items: center;
}

#google-button {
    padding: 6px 24px;
    border: 1px solid var(--mainColor);
    border-radius: 0.7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    background-color: var(--textColor);  
    width: 100%;
    transition: 300ms all;
}

#google-button:hover {
    transform: scale(1.03);
    text-decoration: none;
}
  
#google-button img {
    margin-right: 8px;
    height: 20px;
    width: 20px;
}

/* Quiz Calendar */
.main-body{
  width: 100%;
  display: flex;
}

.calendars{
  flex: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

.calendars header{
  font-size: xx-large;
  font-weight: bold;
  color: var(--textColor);
}

.two-calendars{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* first and second month */
.wrapper{
  width: 400px;
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.wrapper header{
  display: flex;
  justify-content: center;
  padding: 0.5rem 0rem;
  color: black;
}

header .current-date{
  font-size: 1.45rem;
  font-weight: 600;
}

.calendar{
  padding: 0.5rem 0.4rem;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}

.calendar li{
  color: black;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li.active2{
  color: #fff;
}
.days li.active3{
  color: #fff;
}
.days li.active4{
  color: #fff;
}
.days li.active5{
  color: #fff;
}
.days li.active6{
  color: #fff;
}
.days li.active7{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 45px;
  width: 45px;
  z-index: -1;
  border-radius: 30%;
  transform: translate(-50%, -50%);
}
.days li.active::before{ /*open*/
  background: red;
}
.days li.active2::before{ /*school*/
  background: blue;
}
.days li.active3::before{ /*college*/
  background: rgb(56, 206, 56);
}
.days li.active4::before{
  background: linear-gradient(45deg,red,rgb(81, 255, 81),blue);
}
.days li.active5::before{
  background: linear-gradient(45deg,red,blue);
}
.days li.active6::before{
  background: linear-gradient(45deg,red,rgb(81, 255, 81));
}
.days li.active7::before{
  background: linear-gradient(45deg,blue,rgb(81, 255, 81));
}
.days li:not(.active):not(.active2):not(.active3)::not(.active4):not(.active5):not(.active6):not(.active7)hover::before{
  background: #f2f2f2;
}

/* Pop-up */
.pop-up{
  width: fit-content;
  background:white;
  border-radius: 1.5rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%) scale(1);
  text-align: center;
  padding: 0rem 1rem;
  color: black;
  visibility: visible;
  transition: transform 0.2s ,top 0.2s;
  z-index: 100;
  overflow: auto;
  max-height: 710px;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS devices */
  -ms-overflow-style: none; /* to hide the scrollbar in IE and Edge */
  scrollbar-width: none; /* to hide the scrollbar in Firefox */
}
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity value as desired */
  z-index: 9999; /* Ensure the backdrop is above other elements */
}
.blur-effect {
  filter: brightness(0.5);
  pointer-events: none; /* Prevent interactions with the blurred elements */
}
.in_a_row{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pop-up .flex{
  flex: 1;
}

.pop-up .h3{
  font-size: 1.5rem;
  font-weight: 600;
}

.pop-up img{
  width: 28rem;
  border-radius: 1rem;
}
#popContainer .event-details{
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0rem;
  padding-left: 1rem;
  gap: 0.5rem;
  font-family: "Poppins",sans-serif;
  font-size: 1.1rem;
  text-align: start;
  text-transform:capitalize;
}
#popContainer .event-details span{
  line-height: 25px;
}
.pop-up .close-btn {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 40px;
  font-weight: 500;
  border: none;
  color: black;
  max-width: 40px;
  display: inline-block;
}
.pop-up .close-btn:hover {
  color: var(--mainColor);;
}

.pop-up::-webkit-scrollbar {
  display: none;
}

/* Ads section */
.advertisement{
  flex: 3;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.ads-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: white;
  border-radius: 20px;
  padding: 1.3rem 0.5rem;
  height: fit-content;
}

.ads-part .heading{
  font-size: 1.3rem;
  font-weight: bold;
}

.ads-part img{
  width: 18rem;
  border-radius: 1rem;
}

.advertisement .apply-button{
  background-color: var(--darkGrey);
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.poster{
  display: flex;
  justify-content: center;
  align-items: center;
}
.poster span{
  height: 38px;
  width: 38px;  
  cursor: pointer;
  color: var(--darkGrey);
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.event-details{
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0rem;
  padding-left: 1rem;
  gap: 0.5rem;
  font-family: "Poppins",sans-serif;
  font-size: 1.1rem;
  text-align: start;
  text-transform:capitalize;
}
.event-details span{
  line-height: 25px;
}

/* Category-buttons */
.category-buttons{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.buttons-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.open{
  background: red;
}

.school{
  background: blue;
}

.college{
  background: greenyellow;
}

.open-school{
  background: linear-gradient(120deg,red,blue);
}

.open-college{
  background: linear-gradient(120deg,red,greenyellow);
}

.school-college{
  background: linear-gradient(120deg,blue,greenyellow);
}
/* fav- events */
.fav-events{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  gap: 1.5rem;
  width: 100%;
}

.fav-events .question{
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--textColor);
}
.question span:nth-of-type(2){
  color: var(--comboColor);
}

.pop-up-form{
  display: flex;
  flex-direction: column;
  background-color: var(--textColor);
  border-radius: 3rem;
  place-items: center;
  padding: 2rem 3rem;
  padding-bottom: 1rem;
  width: fit-content;
  gap: 2rem;
}

.go-button{
  background-color: var(--mainColor);
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}

.slider-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
  width: fit-content;
}

.range label{
  font-size: 1.1rem;
  font-weight: 550;
  color: var(--mainColor);
  margin-left: 2rem;
}
.slider{
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  justify-content: center;
  align-items: flex-start;
  border-radius: 10vmax;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
.range-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.range-slider span{
  font-size: 1.1rem;
  color: var(--mainColor);
  font-weight: bold;
}
.range-value{
  position: relative;
  height: 10px;
  width: calc(var(--range-width) - 11px);
}

.value-number{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: var(--mainColor);
  border-radius: 50% 50% 50% 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  top: -20px;
  transform: translate(-50%,-50%) rotate(-45deg) scale(0);
  font-size: 1.1rem;
  color: var(--textColor);
  pointer-events: none;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
}
#value-number1.show{
  transform: translate(50%,-50%) rotate(-45deg) scale(1);
  opacity: 1;
}
#value-number2.show{
  transform: translate(50%,-50%) rotate(-45deg) scale(1);
  opacity: 1;
}
#value-number3.show{
  transform: translate(50%,-50%) rotate(-45deg) scale(1);
  opacity: 1;
}
#value-number4.show{
  transform: translate(50%,-50%) rotate(-45deg) scale(1);
  opacity: 1;
}
#value-number5.show{
  transform: translate(50%,-50%) rotate(-45deg) scale(1);
  opacity: 1;
}
#value-number6.show{
  transform: translate(50%,-50%) rotate(-45deg) scale(1);
  opacity: 1;
}
.value-number span{
  transform: rotate(45deg);
}

.range-input{
  appearance: none;
  background-color: var(--mainColor);
  width: var(--range-width);
  border-radius: 10vmax;
  height: 9px;
}

/* Application form for events */
.application-form{
  position: relative;
  width: 100%;
}

.application-form::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.application-form .show::before{
  opacity: 1;
  pointer-events: auto;
}

.apply-container{
  position: fixed;
  max-width: 1000px;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.1);
  z-index: 101;
  background-color: white;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden; /* can be auto also */
  max-height: 710px;
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS devices */
  -ms-overflow-style: none; /* to hide the scrollbar in IE and Edge */
  scrollbar-width: none; /* to hide the scrollbar in Firefox */
}

.application-form.show .apply-container{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%,-50%) scale(1);
}

.apply-top{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.apply-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.apply-header .heading{
  font-size: 1.3rem;
  font-weight: 600;
}
.apply-header .instruction{
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--darkGrey);
}
.apply-close-button{
  max-width: fit-content;
  font-size: 2.8rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: black;
}
.apply-close-button:hover{
  cursor: pointer;
  color: var(--mainColor);;
}

.super-row{
  display: flex;
  gap: 2rem;
}

.left-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.left-side .button{
  background-color: var(--textColor);
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  padding: 0.3rem 1rem;
  box-shadow: none;
}

.image-container{
  width: 24rem;
  height: 24rem;
  border-radius: 1.5rem;
  background-color: var(--containerColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Hide the input element */
input[type="file"]{
  display: none;
}
.image-container img{
  width: 10rem;
}
.image-container span{
  color: var(--darkGrey);
  text-align: center;
}

/* when no image selected */
.preview-label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  gap: 2rem;
}
/* when image selected */
.preview-label.dont-show{
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: none;
  pointer-events: none;
}
.preview-label.dont-show span{
  display: none;
}
.preview-label.dont-show img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.apply-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.right-side{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.6rem;
  color: var(--darkGrey);
}

.text-form-fields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
}

.form-field{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-field input{
  width: 100%;
  height: 2rem;
  padding: 0px 8px;
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid var(--darkGrey);
}

.form-field input:focus{
  border-color: var(--mainColor);
  color: var(--mainColor);
}

.right-side .apply-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.apply-submit{
  background-color: var(--mainColor);
  padding: 0.6rem 1.8rem;
}

/* radios */
.radios{
  display: flex;
  justify-content: start;
  align-items: center;
  gap:1rem;
}
.radio{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  border: 2px solid var(--mainColor);
}

.radio-input{
  display: none;
}

.radio-label{
  padding: 0.3rem 1.1rem;
  background-color: var(--textColor);
  cursor: pointer;
  transition: ease-out 0.4s;
  color: var(--darkGrey);
}

.radio-label:not(:last-of-type){
  border-right: 2px solid var(--mainColor);
}

.radio-input:checked + .radio-label{
  background-color: var(--mainColor);
  color: var(--textColor);
}

/* drop-down */
.drop-down{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}

.select-drop{
  padding: 0.3rem 2rem;
  background-color: var(--textColor);
  border-radius: 2rem;
  color: var(--darkGrey);
  cursor: pointer;
  border: 2px solid var(--mainColor);
  font-size: 1.1rem;
  /* for arrow-down */
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;"/></svg>');
}

.select-drop:focus,
.select-drop:hover{
  outline: none;
  border: 2px solid var(--mainColor);
}

#apply-ad{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 8px;
}
#apply-ad input{
  width: 16px;
}
#apply-ad label{
  font-size: 1rem;
}

.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  background-color: var(--footerColor);
}

@media screen and (max-width:700px){
  .enquire img{
    width: 4rem;
  }
  .enquire span{
    font-size: 1rem;
  }
  .menu span{
    font-size: 0.5rem;
  }
  .main-body{
    flex-direction: column;
    gap: 2rem;
  }

  .form_container{
    max-width: 280px;
  }
  .two-calendars{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .calendars header{
    font-size: x-large;
  }
  .wrapper{
    width: 86%;
    padding: 0.7rem 0.4rem;
  }
  .wrapper header{
    font-size: 0.7rem;
  }

  /* Pop up */
  .pop-up{
    width: 92%;
  }
  .pop-up img{
    width: 90%;
    max-height: 600px;
  }
  #popContainer .event-details{
    gap: 0.3rem;
  }

  /* Category-buttons */
  .category-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 2rem;
  }
  .buttons-row{
    gap: 2rem;
  }

  /* Ads-section */
  .ads-part{
    width: 90%;
  }
  .ads-part img{
    width: 90%;
  }
  /* fav-events */
  .fav-events{
    padding: 0rem 1rem;
  }
  .fav-events .question{
    text-align: center;
  }
  .pop-up-form{
    padding: 1rem 1.5rem;
    width: 95%;
  }
  .slider-container{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
  }
  .range-value{
    width: 11.3rem;
  }
  .range-input{
    width: 12rem;
  }

  /* Application -form */
  .apply-container{
    width: 95%;
    max-height: 700px;
    overflow-y: scroll;
    padding: 0.9rem;
    gap: 1rem;
  }
  .apply-top{
    margin-top: 11rem;
  }
  .apply-header{
    margin: 0rem;
  }
  .apply-header .heading{
    font-size: 1.2rem;
  }
  .apply-header .instruction{
    font-size: 0.7rem;
  }
  .apply-close-button{
    font-size: 2rem;
  }
  .super-row{
    flex-direction: column;
    gap: 1rem;
  }

  .image-container{
    width: 95%;
    height: 20rem;
    gap: 1rem;
  }
  .image-container img{
    width: 50%;
  }
  .image-container span{
    margin: 0rem 1rem;
  }
  .preview-label{
    gap: 0rem;
  }
  
  .right-side{
    align-items: center;
  }
  .form-field{
    width: 95%;
  }
  .radios{
    justify-content: center;
    gap: 0.3rem;
    font-size: 0.8rem;
  }
  .radio-label{
    padding: 0.2rem 0.7rem;
  }
  .radio{
    border-radius: 1rem;
  }
  .drop-down{
    justify-content: center;
    gap: 0.4rem;
    font-size: 0.8rem;
  }
  .select-drop{
    padding: 0.2rem 0.7rem;
    font-size: 0.9rem;
  }
}